@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.notfound {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: #888;
}

.notfound h1 {
    font-size: 20rem;
    font-weight: 100;

}

.notfound span {
    font-size: 4rem;
}

.notfound p {
    font-size: 2rem;
    margin: 1rem 0 5rem 0  ;
}

.notfound a {
    margin-top: 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #1797f2;
    padding: 1.5rem 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.7s ease;
    opacity: 0.8;
}

.notfound a:hover {
    opacity: 1;
}